*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.esiot{
    text-align: center;
   font-size: 20px;
   margin-top: 30px;
   margin-bottom: 10px;
}
.assign{
    padding-top: 20px;
}
.list li a{
    text-decoration: none;
    color: rgb(100, 113, 151);
    font-size: 20px;
}
.list li a:hover{
    color: #111;
}
li{
    font-weight: 600;
    margin-top: 10px;
    list-style: none;
    text-align: center;
} 